doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= i18n('School')
    link(rel='stylesheet', href="assets/css/main.css")
  body(class="homepage is-preload")
    block content
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.dropotron.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")